@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Raleway", sans-serif;
}

/* Navbar */

.navbar-brand{
    font-size: 25px;
    font-weight: bold;
    color: #030346;
}

.navbar-brand img{
    padding-right: 5px;
}

.nav-item{
    padding: 0 10px;
}

.nav-link{
    color: #030346;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 15px;
}

.nav-link:hover{
    border-bottom:1px solid;
    color: #030346;
    transition:border-bottom 0.5s linear 0.1s;
}

.nav-link:active{
    border-bottom:1px solid;
    color: #030346;
    transition:border-bottom 0.5s linear 0.1s;
}

.search-btn .btn {
   border: 2px solid #030346;
   color: #030346;
   font-weight: 600;
   font-size: 15px;
   padding: 5px 10px;
}

.search-btn .btn:hover {
   background-color:  #030346;
   color: white;
}

.cart .fa-shopping-cart{
    color:#030346;
    font-size: 22px;
}

a{
    text-decoration: none;
}

.header_menu .badge{
    color: white;
    background-color: #ff0202;
    border-radius: 50%;
    padding: 5px ;
    font-size: 9px;
}

.dropdown-item{
 font-weight: 600;
 background-color: transparent;
}

.dropdown-item:hover{
    background-color: #030346;
    color: white;
}

/* Slider */

.carousel-item img{
    height: 100vh;
    object-fit: cover;

}

/* Category */

.card{
    overflow: hidden;
    position: relative;
}

#category .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 !important;
}


#category .row .col-md-3:nth-child(2) .card {
    height: 84%;
}

.cat-title{
    width: 100%;
    height: 100%;
    top: 0;
    right:0;
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    transition: opacity 0.5s ease;
}

.card:hover .cat-title{
    opacity: 1;
}

.catgry-btn {
    padding: 5px 20px;
    background: white;
    color: #030346;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 5px; 
}


/* product-section */
.text-truncate{
    display: -webkit-box;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important; /* Number of lines to show before truncating */
    white-space:normal !important;
    font-size: 13px;
}

#new_products .card .product-img{
    width: 100%;
    height: 252px;
}

#new_products .card .product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#new_products .card .card-body{
    color: #030346;
}

#new_products .card .row .col-6 .cart_btn{
    color: #030346;
}

#new_products .card .row .col-6:nth-child(2) button{
    background-color: #030346;
}

#new_products .card .row .col-6:nth-child(1) .btn{
    background-color: white;
    color: #030346;
    cursor: pointer;
    border: none;
    outline: none;
}

#new_products .badge{
    padding: 10px;
    background-color: #ff0202;
}

#new_products .translate-middle {
    transform: translate(-120%, 15%) !important;
}

.explore_btn button{
    padding: 12px 22px;
    font-size: 17px;
    background-color: #030346;
    border: none;
    outline: none;
}

.explore_btn button:hover{
    background-color: #030346;
}